* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(219, 219, 219);
}

header {
    background-color: rgb(255, 255, 255);
}

header div {
    text-align: center;
}

header div:nth-child(1) {
    font-size: 36px;
    font-family: cambria;
    text-transform: uppercase;
}

header div:nth-child(2) {
    font-size: 18px;
    text-transform: uppercase;
}

header div:nth-child(3) {
    font-size: 12px;
}

.judul {
    text-align: center;

}

main {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

article img {
    width: 15%;
}

.prodi h3 {
    text-align: center;
}

section h1,
h2 {
    text-align: center;
}

section {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#si h1,
#ti h1,
#dkv h1,
#mi h1 {
    color: blue;
    font-size: 100px;
}

#si p,
#ti p,
#dkv p,
#mi p {
    font-style: italic;
}

#si ol,
#ti ol,
#dkv ol,
#mi ol {
    margin-left: 20px;
}

#si ul,
#ti ul,
#dkv ul,
#mi ul {
    margin-left: 20px;
}